@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.big-header{
  width: 100%;
  height : 45vh;
  /* padding: 0 15vw; */
  /* background-color: aqua; */
  /* border: 2px solid aqua; */
}

.top-header{
  width: 100vw;
  height: 10vh;
  border-bottom: 1px grey solid;
  /* border:solid red 1px; */
}
.top-header > img{
  width:auto;
  height: 100%;
  padding-left: 10vw;
}
.desc{
  width: 100vw;
  height: 35vh;
  padding: 5vh 8vw;
  display: flex;
  justify-content: space-between;
  /* border : 2px solid darkred; */
  font-size: 19px;
  line-height: 28.8px;
  color: #868A8A;
}

.desc h1{
  font-size: 32px;
  line-height: 26.7px;
  color: #2E3333;
  margin-bottom: 5vh;
}

.name-desc{
  width: 60%;
}
.desc > img{
  width: 350px;
  height: 200px;
  border-radius: 8px;
}

.body{
  background-color: #F2F5F5;
  display: flex;
  /* border: 2px solid blue; */
  padding: 2vh 8vw;
}

.each{
  width: 58vw;
  /* border: 2px solid chartreuse; */
  /* margin-right:30px; */
}

.box-cat{
  width: 100%;
  /* border: 2px solid orange; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  grid-gap: 20px;
}
.title-cate{
  padding: 2rem 0;
}
.none{
  display: none;
}
h2{
  font-size: 24px;
  line-height: 20px;
  color: #2E3333;
}
h3{
  font-size: 18px;
  line-height: 15.6px;
  color: #2E3333;
  margin-bottom: 10px;
  /* border: 1px solid yellow; */
}

.box-meal{
  width: 100%;
  /* border: 2px solid orange; */
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
  /* margin: 5% 10%; */
}
.box-meal:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}
.left-box{
  width: 90%;
  /* border: 2px solid blue; */
}

.left-box .descript-meal{
  margin-top: 10px;
  color: #808484;
  font-size:14px;
  line-height: 20.8px;
  height: 48%;
  /* border: 3px solid green; */
  overflow: hidden;
  padding-right: 5px;
  /* width: 100%; */
}
.stars{
  display: flex;
  /* border: 2px purple solid; */
  align-items: center;
}
#price{
  /* border: 2px purple solid; */
  font-size: 17px;
  line-height: 14.7px;
  margin-top: 5px;
  color: #808484;
}
.left-box span{
  color: #FF8000;
  margin-left: 1rem;
  font-size: 14px;
  line-height: 10.7px;
  font-weight: bold;
  margin-top: 5px;
}
.box-meal > img{
  width: 30%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto 0;
}

.boxShop{
  /* border: 2px sienna solid; */
  width: 25vw;
  height: 60%;
  margin-top: 10px;
  margin-left: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  position: sticky;
  top: 5vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#valid{
  width: 95%;
  margin-top: 10px;
  height: 60px;
  background-color: #02CDBD;
  border-radius: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color:white;
}
.lineDish{
  display: flex;
  width: 100%;
  margin: 10px 2px;
  display: flex;
  justify-content: space-between;
  border: 4px solid orange;
  color : #2E3333;
  font-size : 16px;
  line-height: 13.3px;
}
.dishText-btn{
  display: flex;
  align-items: center;
  /* margin: 0 4px; */
}
#dishAm{
  margin:0 3px;
}
#titleDish{
  /* border: 2px solid blue; */
  margin-left: 5px;
  width: 70%;
}
.priceDish{
  /* border: 4px solid red; */
  display: flex;
  justify-content: flex-end;
  width: 6rem;
}
.lineDish #btn{
  border: 4px solid red;
  color: #02CDBD;
  border: none;
  margin-top: 5px;
  font-size: 20px;
  background-color: white;
}
.lineDish button:hover{
  cursor: pointer;
}
.allDish{
  /* border: #02CDBD 2px solid; */
  width: 95%;
  border-bottom: 1px solid grey;
}
.firstTotal{
  /* border: purple 2px solid; */
  width: 95%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  margin-top : 15px;
  margin-bottom: 15px;
}
.sousTotal{
  /* border: blue 2px solid; */
  display: flex;
  justify-content: space-between;
  margin-top : 10px;
  margin-bottom: 10px;
}
.delivery{
  /* border: rgb(185, 167, 10) 2px solid; */
  display: flex;
  justify-content: space-between;
}
.fullTotal{
  width: 95%;
  /* border: rgb(228, 122, 223) 2px solid; */
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  margin-bottom: 5px;
}