@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.none{
  display: none;
}
.App{
  width: 100vw;
}

/* HEADER */
.big-header{
  width: 100%;
  height : 48vh;
}

.top-header{
  width: 100%;
  height: 20%;
  border-bottom: 1px grey solid;
  padding: 0 8%;
}
.top-header > img{
  height: 100%;
}
.description{
  width: 100vw;
  height: 35vh;
  padding: 2% 8.5%;
  display: flex;
  justify-content: space-between;

  font-size: 19px;
  line-height: 28.8px;
  color: #868A8A;
}

.name-description{
  width: 70%;
  padding-top: 2%;
}

.description h1{
  font-size: 32px;
  line-height: 26.7px;
  color: #2E3333;
  margin-bottom: 5vh;
}

.description > img{
  width: 350px;
  height: 200px;
  border-radius: 8px;
}
/* BODY */
.body{
  background-color: #F2F5F5;
  display: flex;
  padding: 4vh 8vw;
}
/* LIST DES PLAT */
.fullList{
  width: 70%;
}
.h2{
  padding: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.25rem;
  color: #2E3333;
}

.box-cat{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  grid-gap: 20px;
  margin: 1rem 0;
}
/* BOX INDIVIDUELLE */
.box-meal{
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}
.box-meal:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}
.left-box{
  width: 65%;
}
h3{
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 20px;
  color: #2E3333;
  margin-bottom: 10px;
}
.descript-meal{
  color: #808484;
  font-size:14px;
  line-height: 20.8px;
  height: 32%;
  overflow: hidden;
}
.stars{
  display: flex;
  align-items: center;
  padding-top: 5px;
}
#price{
  font-size: 17px;
  line-height: 14.7px;
  color: #808484;
}
.left-box span{
  color: #FF8000;
  margin-left: 1rem;
  font-size: 14px;
  line-height: 10.7px;
  font-weight: bold;
}
.box-meal > img{
  width: 35%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.boxShop{
  width: 31%;
  height: 100%;
  margin-left: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  position: sticky;
  top: 5vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.boxShop2{
  width: 31%;
  height: 100%;
  margin-left: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  position: sticky;
  top: 5vh;
  flex-direction: column;

  align-items: center;
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}
#valid{
  width: 95%;
  margin-top: 10px;
  height: 60px;
  background-color: #02CDBD;
  border-radius: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color:white;
  cursor: pointer;
}
.spanValid{
  color:#868A8A;
  margin: 50px auto;
}
#invalid{
  width: 95%;
  margin-top: 10px;
  height: 60px;
  background-color:  #BAC3C3;
  border-radius: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color:white;
  margin-bottom: 40px;
  cursor: not-allowed;
}
.allDish{
  width: 95%;
  margin-top: 10px;
  border-bottom: 1px solid grey;
}
.lineDish{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  color : #2E3333;
  font-size : 16px;
  line-height: 13.3px;
}
.dishText-btn{
  display: flex;
  align-items: center;

}.lineDish #btn{
  color: #02CDBD;
  border: none;
  margin-top: 5px;
  font-size: 20px;
  background-color: white;
}
.lineDish button:hover{
  cursor: pointer;
}
#dishAm{
  margin:0 3px;
}
#titleDish{
  margin-left: 5px;
  width: 90%;
}
.priceDish{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 6rem;
}

.boxTotal{
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.boxTotal2{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.firstTotal{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
}
.sousTotal{
  display: flex;
  justify-content: space-between;
  margin-top : 10px;
  margin-bottom: 10px;
}
.delivery{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.fullTotal{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  margin-bottom: 10px;
}